*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html{
  height: 100%;
  overflow-x: hidden;
}

#__next, body  {
  min-height: 100%;
  max-width: 100%;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}
.container{
  min-height: calc(100vh - 220px);
  width:90%;
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
footer{
  margin-top: 20px;
  height: 100px;
  background: #d33a2c;
  color: #fff;
}